<?xml version="1.0" encoding="utf-8" ?>
<!-- String de conexão com o banco MySQL local -->
<!-- Altere a senha do banco para a da sua localhost -->
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=localhost;Database=concesionaria;Uid=root;Pwd=;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
